
  <div class="container pt-5 pl-3">
    <%= link_to "< Back", :back, style:"color:#587368" %>
    <div class="d-flex justify-content-between">
      <h1 class="pt-2">Booking rules</h1>
      <div class="d-flex flex-column">
      <% unless @booking.start_date <= Date.today %>
        <% if @booking.user == current_user || @booking.pigeon.user == current_user%>
          <p><%= link_to "Edit booking", edit_booking_path, style:"color:#587368" %></p>
          <p><%= link_to "Delete booking", booking_path(@booking), style:"color:#587368", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-around">
      <div class="d-flex flex-column col-7">
        <img src="https://media2.giphy.com/media/GyKCVW91R83Ek/giphy.gif" class="img-resize">
        <h3 class="pt-5"><%= @booking.pigeon.name%>'s <%= ((@booking.end_date - @booking.start_date) / 60 / 60 / 24).to_i %> day trip in <%= @booking.address %></h3>
        <div class="d-flex flex-row pt-3">
        <div class= "col-6 d-flex flex-row"><div class="grey-box"><p><%= @booking.start_date.strftime("%d") %></p>
        <p><%= @booking.start_date.strftime("%b") %></p></div>
        <p class="align pt-4">Checks-in <%= @booking.start_date.strftime("%A") %></p></div>
        <div class= "col-6 d-flex flex-row"><div class="grey-box"><p><%= @booking.end_date.strftime("%d") %></p>
        <p><%= @booking.end_date.strftime("%b") %></p></div>
        <p class="align pt-4">Checks-out <%= @booking.start_date.strftime("%A") %></p></div>
      </div>

        <h3 class="border-top">Things to keep in mind</h3>
        <p class="py-3 alert-info">Feeding our pigeons is strictly prohibited. Any violation of this rule will result in immediate and irreversible termination of your account.</p>

        </div>
        <div class="col-5">
          <div class="border-all">
            <h4 class="pt-2">Your booking with <%= @booking.pigeon.name %>.</h4>
            <p>Private booking in <%= @booking.address %></p>
            <p>Well reviewed</p>
            <p class="pt-1 border-reduced"><%= @booking.start_date.strftime("%d %b, %Y") %>  ->  <%= @booking.end_date.strftime("%d %b, %Y") %></p>
            <div class="d-flex flex-row justify-content-between border-reduced">
              <p>€<%= @booking.pigeon.price_per_day.to_i %> x <%= ((@booking.end_date - @booking.start_date) / 60 / 60 / 24).to_i %> days</p>
              <p>€<%= @booking.total_price %></p>
            </div>
            <div class="d-flex flex-row justify-content-between">
              <p>No service fee</p>
              <p>-</p>
            </div>
            <div class="d-flex flex-row justify-content-between border-reduced">
              <p>Total (EUR)</p>
              <p>€<%= @booking.total_price %></p>
            </div>
          </div>
      </div>
      </div>
    </div>
