
<h1>Your booking with <%= @pigeon.name %></h1>
<p><%= @booking.start_date %>-<%= @booking.end_date %></p>
<img src="https://w0.peakpx.com/wallpaper/155/812/HD-wallpaper-dove-love-pigeon-cute-bird-love-dove.jpg">
<p>Owner: <%= @pigeon.user.username %></p>
<h2>€<%= @booking.total_price %></h2>
<%= link_to "Back to #{@pigeon.name}", pigeon_path(@pigeon.id), class: "btn btn-flat" %>
