<div class="container pt-5 pl-3">
  <h1>Your booking with <%= @pigeon.name %></h1>
  <p><%= @booking.start_date %>-<%= @booking.end_date %></p>
  <p>Owner: <%= @pigeon.user.username %></p>
  <h2>€<%= @booking.total_price %></h2>
  <%= link_to "Back to #{@pigeon.name}", pigeon_path(@pigeon.id), class: "btn btn-flat" %>
</div>
