<div class="green-bg h-100">
  <div class="container pt-5 pl-3">
    <div class="card-white">
    <div class="d-flex justify-content-between">
      <h1 class="pt-2">Your booking with <%= @booking.pigeon.name %></h1>
      <%= link_to "Edit booking", edit_booking_path, style:"color:#587368" %>
    </div>
      <p class="pt-3"><%= @booking.start_date.strftime("%d %b, %Y") %>  -  <%= @booking.end_date.strftime("%d %b, %Y") %></p>
      <img src="https://media2.giphy.com/media/GyKCVW91R83Ek/giphy.gif" class="img-resize">
      <p class="pt-3">Owner: <%= @booking.pigeon.user.username %></p>
      <div class="w-100 d-flex justify-content-between">
        <h2>€<%= @booking.total_price %></h2>
        <%= link_to "Back to #{@booking.pigeon.name}", pigeon_path(@booking.pigeon), class: "btn btn-flat" %>
      </div>
    </div>
  </div>
</div>
