<div class="container pt-5 pl-3">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>List a new pigeon</h3>
        <%= simple_form_for @pigeon do |f| %>
          <%= f.input :name, placeholder: 'Pigeon name' %>
          <%= f.input :description, placeholder: 'Description' %>
          <%= f.input :available, placeholder: 'True or False' %>
          <%= f.input :price_per_day, placeholder: 'Price' %>
          <%= f.submit class: 'btn btn-blue' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="buttons-container">
  <%= link_to "Go back", root_path, class:"button-green mt-0 mb-20" %>
</div>
