<div class="h-100 green-bg">
  <div class="container pt-5 pl-3">
    <%= link_to "< Back", :back, style:"color:#FFFFFF" %>
    <div class="row">
      <div class="col-12 col-md-6 offset-lg-3">
        <div class="bg-white rounded p-4 shadow">
          <h3 class="pb-2"> List a Pigeon </h3>
          <%= simple_form_for @pigeon do |f| %>
            <%= f.input :name, placeholder: 'First and last name' %>
            <%= f.input :description, placeholder: 'Skills and specialty' %>
            <%= f.input :category, collection: ["Send a gift", "Baby sitting", "Company", "Music", "Private Detective", "Magic Tricks", "Poop", "Birthday Party", "Special Ocasions"], placeholder: 'Choose a category' %>
            <%= f.input :photos, as: :file, input_html: { multiple: true } %>
            <%= f.input :available %>
            <%= f.input :price_per_day, placeholder: 'Includes VAT' %>
            <%= f.submit class: 'button-green' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
