<div class="navbar navbar-expand-sm navbar-light navbar-lewagon m-0">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <img src="<%= asset_path('logo_horizontal.png') %>"/>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%= form_with url: pigeons_path, method: :get, class: "d-flex w-25 rounded" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control p-2",
        placeholder: "Find a pigeon by category"
      %>

      <%= submit_tag "search", class: "btn btn-primary p-2" %>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag 'pigeon-cute.jpg', class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <p class="p-2"><%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %></p>
              <p class="p-2"><%= link_to "Find a Pigeon", pigeons_path, class: "dropdown-item" %></p>
              <p class="p-2"><%= link_to "List a Pigeon", new_pigeon_path, class: "dropdown-item" %></p>
              <p class="p-2"><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></p>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
