
  <div class="dash-card col-6">
    <div class="flex-column">
      <h2 class="pb-3">Personal info</h2>
      <p class="pb-2">Email: <%= @user.email %></p>
      <p class="pb-2">Username: <%= @user.username %></p>
      <p class="pb-2">Password: ********</p>
    </div>
    <div class="d-flex justify-content-end"><%= link_to "Edit Account", edit_user_registration_path, class: 'btn btn-flat' %></div>
  </div>

  <div class="dash-card col-6">
    <h2 class="pb-3">Payments and Payouts</h2>
    <% if @sum != 0 %>
      <p class="pb-2">My Earnings: €<%= @sum %></p>
    <% else %>
      <p class="pb-2">Looks like you haven't made any money yet! <%= link_to "Rent your pigeon!", new_pigeon_path, style:"color:#587368" %></p>
    <% end %>
    <% if @points != 0 %>
      <p class="pb-2">My Points: <%= @points %></p>
    <% else %>
      <p class="pb-2">Looks like you haven't gotten any points! <%= link_to "Get earning", pigeons_path, style:"color:#587368" %> with Le Pigeon</p>
    <% end %>
  </div>
