<div class="container pt-5 pl-3">
  <p>Username: <%= @user.username %></p>
  <p>Pigeons: <%= @user.pigeons.count %></p>
  <% if @sum != 0 %>
    <p>My Earnings: €<%= @sum %></p>
  <% else %>
    <p>Looks like you haven't made any money yet! <%= link_to "Rent your pigeon!", new_pigeon_path, style:"color:#587368" %></p>
  <% end %>
  <p>My bookings: <%= @user.bookings.count %></p>
</div>
