
  <div class="container pt-5 pl-3">
    <% if @user.pigeons.exists? %>
    <div class="grid-container">
      <% @user.pigeons.each do |pigeon| %>
        <%= link_to pigeon_path(pigeon), style:"color:black" do %>
          <div class="card">
            <div class="card-image" style="background-image:url('<%= pigeon.photos.first.url %>'); width:85%; height:65%">
            </div>

            <%# WHEN UPDATING THE CARDS, MAKE THE PHOTO FIT IT. I SUGGEST CARD FROM SECOND FRONT-END LIVE CODE %>
            <h2 class="title"><strong><%= pigeon.name %></strong></h2>
            <span class="address"><%= pigeon.address %></span>
            <span class="price"><strong><%= pigeon.price_per_day %> € </strong>day</span>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p>Oh no! Looks like you haven't listed any pigeons yet! Click <%= link_to "here", new_pigeon_path %> to list your first pigeon.</p>
    <% end %>
    </div>
  </div>
