<div class="myaccount container pt-5 pl-3">
  <div class="flex-column">
    <div class="dashboard-card">
          <div class="card-info">
          <% if @user.photo.attached? %>
            <div class="card-avatar"><%= cl_image_tag @user.photo.key %></div>
            <% end %>
              <div class="card-title"><%= @user.username %></div>
            <div class="card-subtitle"><%= @user.email %></div>
            <div class="d-flex justify-content-end"><%= link_to "Edit Account", edit_user_registration_path, class: 'btn btn-flat mt-5', style:"color:#587368" %></div>
          </div>
    </div>
  </div>

  <div class="dash-card col-6">
    <h2 class="pb-3">Payments and Payouts</h2>
    <% if @sum != 0 %>
      <p class="pb-2">My Earnings: €<%= @sum %></p>
    <% else %>
      <p class="pb-2">Looks like you haven't made any money yet! <%= link_to "Rent your pigeon!", new_pigeon_path, style:"color:#587368" %></p>
    <% end %>
    <% if @points != 0 %>
      <p class="pb-2">My Points: <%= @points %></p>
    <% else %>
      <p class="pb-2">Looks like you haven't gotten any points! <%= link_to "Get earning", pigeons_path, style:"color:#587368" %> with Le Pigeon</p>
    <% end %>
  </div>
</div>
