<div class="container pt-5 pl-3">
  <div>
    <h2>Upcoming Bookings</h2>
    <div class="grid-container pb-5 mb-3">
          <% if Booking.where(user: @user).after_today.empty? %>
              <p>No upcoming bookings Click <%= link_to "here", pigeons_path %> to discover our available pigeons.</p>
            <% else %>
              <% Booking.where(user: @user).after_today.each do |booking| %>

                <%= link_to edit_booking_path(booking), style:"color:black" do %>
                   <div class="card">
                      <div class="card-image" style="background-image:url('<%= booking.pigeon.photos.attached? ? booking.pigeon.photos.first.url : ""%>'); width:85%; height:65%">
                      </div>

                    <%# WHEN UPDATING THE CARDS, MAKE THE PHOTO FIT IT. I SUGGEST CARD FROM SECOND FRONT-END LIVE CODE %>
                    <h2 class="title"><strong><%= booking.pigeon.name %></strong></h2>
                    <span class="address"><%= booking.pigeon.address %></span>
                    <span class="price"><strong><%= booking.pigeon.price_per_day %> € </strong>day</span>
                  </div>

              <% end %>
            <% end %>
            <% end %>
      </div>
    </div>

  <div>
      <h2>Past Bookings</h2>
      <div class="grid-container pb-5 mb-3">
          <% if Booking.where(user: @user).before_today.empty? %>
              <p>No past bookings Click <%= link_to "here", pigeons_path %> to discover our available pigeons.</p>
            <% else %>
              <% Booking.where(user: @user).before_today.each do |booking| %>

                <%= link_to edit_booking_path(booking), style:"color:black" do %>
                  <div class="card">
                      <div class="card-image" style="background-image:url('<%= booking.pigeon.photos.attached? ? booking.pigeon.photos.first.url : ""%>'); width:85%; height:65%">
                      </div>

                    <%# WHEN UPDATING THE CARDS, MAKE THE PHOTO FIT IT. I SUGGEST CARD FROM SECOND FRONT-END LIVE CODE %>
                    <h2 class="title"><strong><%= booking.pigeon.name %></strong></h2>
                    <span class="address"><%= booking.pigeon.address %></span>
                    <span class="price"><strong><%= booking.pigeon.price_per_day %> € </strong>day</span>
                  </div>
              <% end %>
            <% end %>
            <% end %>
      </div>
    </div>
  </div>
</div>
