<div class="h-100 green-bg">
  <div class="container">
    <h1 class="text-capitalize text-white pb-4 pt-5 pl-3"><%= @user.username %>'s dashboard</h1>
    <div class="d-flex flex-row justify-content-between">
      <div class="d-flex flex-column w-100">
        <div class="dash-card p-4">
        <h2 class="pb-3">Bookings</h2>
          <% if @user.bookings.exists? %>
            <% @user.bookings.sample(5).each do |b|%>
              <p class="pb-2"><%= link_to "Your #{b.start_date.strftime("%d %B, %Y")} booking with #{b.pigeon.name}", booking_path(b) %></p>
            <% end %>
            <div>
            <%= link_to "See more", my_bookings_path %>
            </div>
          <% else %>
            <p>Oh no! Looks like you haven't booked any pigeons yet! Click <%= link_to "here", pigeons_path %> to discover our available pigeons.</p>
          <% end %>
          </div>

        <div class="dash-card p-4">
        <h2 class="pb-3">Pigeons</h2>
        <% if @user.pigeons.exists? %>
          <% 5.times do %>
              <% p = @user.pigeons.sample %>
            <p class="pb-2"><%= link_to "#{p.name}", pigeon_path(p) %></p>
            <% end %>
            <div class="d-flex justify-content-end">
            <%= link_to "See more", my_pigeons_path %>
            </div>
          <% else %>
          <p>Oh no! Looks like you haven't listed any pigeons yet! Click <%= link_to "here", new_pigeon_path %> to list your first pigeon.</p>
          <% end %>
        </div>
      </div>
      <div class="dash-card w-50 p-4">
        <h2 class="pb-3">My Account</h2>
        <p>Username: <%= @user.username %></p>
        <p>Pigeons: <%= @user.pigeons.count %></p>
        <p>Earnings: €<%= @sum %></p>
        <p>My bookings: <%= @user.bookings.count %></p>
      </div>
    </div>
  </div>
</div>
