<div class="h-100 green-bg">
  <div class="container pt-5 pl-3">
  <%= link_to "< Back", dashboard_path, style:"color:#587368" %>
    <div class="grid-container">
      <% @user.bookings.each do |booking| %>
      <%= link_to booking_path(booking), style:"color:black" do %>
        <div class="card">
          <%= image_tag("https://images.unsplash.com/photo-1607417190565-630353c3d223?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fHBpZ2VvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60", class:"pigeon-img") %>
          <h2 class="title"><strong><%= booking.name %></strong></h2>
        </div>
          <p><%= link_to "Edit", edit_booking_path(booking), style:"color:#587368" %></p>
          <p><%= link_to "Delete", my_bookings_path(booking),  style:"color:#587368", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
